.header {
   position: fixed;
   top: 40px;
   left: 0;
   width: 100%;

   a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
   }
}
.header-inner {
   display: flex;
   justify-content: flex-end;
   grid-gap: 40px;
}