@import '../cores/mq';

.homepage-wrapper {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.homepage__contents {
   @include mq(desktop) {
      display: flex;
      grid-gap: 50px;
   }
   .heading-wrapper {
      @include mq($until: desktop) {
         margin-bottom: 30px;
      }
   }
}